*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

        display: flex;
        background: url(back.jpg);
        height: 100vh;
        align-items: center;
        padding: 0px 0px 0px 20px;
    
}
div.img{

    background-color: rgb(29, 26, 26);
    padding: 40px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;

 
}

@keyframes example {
    0% {bottom: 0px; }
    50% {bottom: 110px;}
    100%{bottom: 0px;}
  }
  
   /*The element to apply the animation to */

  div.img img{

    position: relative;
    bottom: 110px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  button.start{

    color: rgb(17, 245, 245);;
    background-color: green;
    padding: 9px 33px;
    border: 1px solid rgb(17, 245, 245);
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    bottom: 78px;
    left: 220px;
  }